.questionArea {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;

    .avatar {
        width: 32px;
        height: 32px;
        margin-right: 16px;
        border-radius: 50%;
        background-color: #b8b2a8;
        flex-shrink: 0;
        margin-top: 7px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .question {
        padding: 12px 16px;
        background: rgba(26, 107, 191, 0.10);
        border: 1px solid rgba(26, 107, 191, 0.20);
        max-width: 93.75%;
        border-radius: 16px;

        span {
            color: #2c2a27;
            font-size: 16px;
            line-height: 28px;
        }
    }
}
