.searchItem {
    border-radius: 12px;
    margin-bottom: 4px;
    padding: 8px;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;

    .inner {
        width: 100%;
        overflow: hidden;
    }

    &:hover {
        background-color: #ccc7be;
    }

    .num {
        color: rgba(44, 42, 39, 0.6);
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        margin-right: 7px;
    }

    p {
        white-space: wrap;
        max-width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 !important;
    }

    p.title {
        overflow: hidden;
        color: #1a6bbf;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 2px;
        font-weight: normal;

        a {
            text-decoration: none;
            color: #1a6bbf;
            font-weight: normal;
        }
    }

    p.url {
        color: rgba(44, 42, 39, 0.6);
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        overflow: hidden;
    }

    p.summ {
        color: rgba(44, 42, 39, 0.8);
        font-size: 13px;
        line-height: 20px;
        white-space: wrap;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.highLight {
        background: rgba(26, 107, 191, 0.10);

        &:hover {
            background-color: rgba(26, 107, 191, 0.18);
        }
    }
}
